index.css

.user img{
    width: 40px;
    height: 40px;
    border: 2px solid #395ff8;
    border-radius: 100px;
    padding: 3px;
}
.user{
    /* margin-bottom: 10px; */
    color: #1d1d1d;
    /* padding: 5px; */
    border-radius: 10px;
    /* border: 1px solid #1d1d1d; */
    padding: 10px;
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 10px;
}
.home{
    min-height: 100vh;
}
.home ul{
    min-height: 100vh;
    padding: 10px;
}
.nav-link{
    color: #fff !important;
    font-size: 1.3rem;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000058;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}