.login-container .card{
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
}
.login-left ul li::marker{
    content:"✔️" ;
}
.login-left ul li{
    margin-bottom: 10px;
}
.login-left .outline-btn{
    border: none;
    padding: 15px;
    min-width: 200px;
    background-color: transparent;
    border: 1px solid rgb(35, 131, 234);
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: rgb(14, 104, 6);
    margin-top: 20px;
}
.or{
    width: 100%;
    height: 1px;
    background-color: #7f6c6c;
    margin-top: 30px;
    position: relative;
}
.or::before{
    content: "or";
    position: absolute;
    left: 50%;
    top: -14.9px;
    background-color: #fff;
    padding: 3px;
    color: rgb(21, 74, 56);
}
.google img{
    width: 20px;
    height: 20px;
}
.google{
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px ;
    margin-top: 20px;
    border-radius: 100px;
}
.google p{
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 500;
}
.login-right button{
    margin-top: 20px;
}
.login-right .card{
    transform: scale(1.2) translateY(-50px);
    border: none;
}
.login-left{
    position: relative;
}
.login-left img{
    position: absolute;
    width: 180px;
    bottom:-30px;
    left: 50%;
}